{{#each this}}
  <div class='country'>
    <h2 class='country-name'>{{name}}</h2>
    <div class='container'>
      <div class='country-info'>
        <p><span class='title'>Capital: </span>{{capital}}</p>
        <p><span class='title'>Population: </span>{{population}}</p>
        <p><span class='title'>Languages:</span></p>
        <ul class='languages-list'>
          {{#each this.languages}}
            <li>{{name}}</li>
          {{/each}}
        </ul>
      </div>
      <img class='country-flag' src={{flag}} alt={{name}} width='300' />
    </div>
  </div>
{{/each}}

<div class='photo-card'>
  <img src='' alt='' />

  <div class='stats'>
    <p class='stats-item'>
      <i class='material-icons'>thumb_up</i>
      1108
    </p>
    <p class='stats-item'>
      <i class='material-icons'>visibility</i>
      320321
    </p>
    <p class='stats-item'>
      <i class='material-icons'>comment</i>
      129
    </p>
    <p class='stats-item'>
      <i class='material-icons'>cloud_download</i>
      176019
    </p>
  </div>
</div>